<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Dictionary" value="C:\Development\EDW\Informatics\WordList.txt" />
    <add key="FieldDelimiter" value="|" />
    <add key="DocumentRepository" value="C:\Development\EDW\Informatics\TestDocs" />
    <add key="DocumentFilePattern" value="*.txt" />
    <add key="Annotations" value="C:\Development\EDW\Informatics\Annotations.txt" />
    <add key="AssessmentAssemblyLocation" value="ColonPolypAbstraction.dll" />
    <add key="AssessmentClass" value="ColonPolypAbstraction.ColonPolypAnnotation" />
    <add key="AssessmentControl" value="ColonPolypAbstraction.ColonPolypAssessment" />
    <add key="SentenceAnnotations" value="false"/>
	<add key="HighlightTermsInDocument" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>